body, html {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

section {
    width: 100%;
    height: 100vh;
    display: block;
}

h1::selection, h2::selection, h3::selection, p::selection, a::selection, span::selection, .logo::selection {
    background: #e07300;
    color: #000000;
}